body {
    filter: contrast(0.2) sepia(1) hue-rotate(180deg) contrast(3);
}

.move{
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.move iframe, .move embed {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width:1200px) {
    #content {
        width: 854px;
        float: left;
    }
    #sidebar {
        float: right;
    }
}

#sidebar img {
    float: left;
    width: 168px;
}

.item {
    clear: both;
}
